/* HEADER */
.header{
    background-color: lightblue;
    padding: 30px 10px
}

#header-logo{
    width: 150px;
}

/* MAIN */
/* Article section */
.main-title{
font-size: 38px;
}

.author{
color: grey;
}

.author-name{
color: blue;
}

.date{
color: grey;
font-size: 12px;
}

.captio{
    font-size: 12px;
}

.high{
    font-weight: 400;
    background-color: yellow;
}
 .table-header{
    background-color: rgb(87, 129, 187);
 }

.tbody1{
    background-color: lightgrey;
}

.tbody2{

}

.tbody3{
    background-color: lightgrey;
}