/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header{
    background-color: lightblue;
    padding: 30px 10px
}

#header-logo{
    width: 150px;
}

/* MAIN */

/*.square{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}*/

/* Article section */
.main-title{
font-size: 38px;
margin-top: 20px ;
}

.author{
color: grey;
}

.author-name{
color: blue;
}

.date{
color: grey;
font-size: 12px;
margin-bottom: 16px;
}

.images-block{
    margin-bottom: 16px;
}

.caption{
    font-size: 12px;
}

.content-paragrafo{
margin-bottom: 16px;
}

.high{
    font-weight: 400;
    background-color: yellow;
}

.lista{
margin-left: 18px;
margin-bottom: 20px;
}

/* sezione tabella */

 .table-header{
    background-color: rgb(87, 129, 187);
    color: white;
    text-align: left;
 }

 .colonna3{
    width: 50%;
 }

.tbody1{
    background-color: lightgrey;
}

.tbody2{

}

.tbody3{
    background-color: lightgrey;
}

/* Footer */
.footer{
    background-color:gray ;
    text-align: center;
    color: white;
    padding: 20px 0px

}
