/* Reset */
*{
    margin: 0;
    padding: 0;
}

/* HEADER */
.header{
    background-color: lightblue;
    padding: 30px 10px
}

#header-logo{
    width: 150px;
}

/* MAIN */
/* Article section */
.main-title{
font-size: 38px;
}

.author{
color: grey;
}

.author-name{
color: blue;
}

.date{
color: grey;
font-size: 12px;
}

.caption{
    font-size: 12px;
}

.high{
    font-weight: 400;
    background-color: yellow;
}

/* sezione tabella */

 .table-header{
    background-color: rgb(87, 129, 187);
    color: white;
    text-align: left;
 }

 .colonna3{
    width: 50%;
 }

.tbody1{
    background-color: lightgrey;
}

.tbody2{

}

.tbody3{
    background-color: lightgrey;
}
/* Footer */
.footer{
    background-color:gray ;
    text-align: center;
    color: white;
    padding: 20px 0px

}
